/.gradle
/.idea
/build/classes
/GamingScheduler/build/
/GamingScheduler-AppEngine/google_generated/
/GamingScheduler-AppEngine/target/
/GamingScheduler-AppEngine/datanucleus.log
/GamingScheduler-gcmlib/build/
/GamingScheduler-gcmlib/src/main/java/com/frca/gamingscheduler\Const/Ids.java