/.gradle
/.idea
/build/classes
/Purtges/build/
/Purtges-AppEngine/google_generated/
/Purtges-AppEngine/target/
/Purtges-AppEngine/datanucleus.log
/Purtges-endpoints/build/
/Purtges-Const/src/main/java/com/frca/purtges/Const/Id.java